DB_HOST=catalog-service-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=catalog-service
DB_SSLMODE=disable

PORT=8083

KAFKA_BROKERS=kafka:9092
KAFKA_CONSUMER_TOPIC=booking.events
KAFKA_PRODUCER_TOPIC=catalog.events
KAFKA_GROUP_ID=catalog-service

APP_ENV=local