HTTP_PORT=8084
DATABASE_URL=host=notifications-audit-service-db user=postgres password=4545 dbname=notifications_audit_service port=5432 sslmode=disable
KAFKA_BROKER=kafka:9092

TOPIC_USERS_EVENTS=users.events
TOPIC_CATALOG_EVENTS=catalog.events
TOPIC_BOOKING_EVENTS=booking.events
TOPIC_NOTIFICATIONS_EVENTS=notifications.events
TOPIC_GATEWAY_EVENTS=gateway.events
TOPIC_AUDIT_EVENTS=audit.events
